<%- include('header') %>

<div class="box" id="heading">
  <h1>Sign Up</h1>
</div>

<div class="box listContainer" style="height:15rem; padding-top: 8px;">

  <form action="/accounts/signup" method="post">
    <input type="email" name="email" id="" placeholder="Email" class="inputItem textbox">
    <br>
    <input type="password" name="password" id="" placeholder="Password" class="inputItem textbox">
    <br>
    <button type="submit" class="loginButton inputItem">Sign up</button>
  </form>
</div>


<%- include('footer') %>

<div style="text-align: center;">
  <a href="/about">About</a>
  </form>
</div>